  <div class="center hero-unit">
    <h1>Alpha Gamma Omega</h1> 
    <h2>
      Welcome!
    </h2>
    <p><%= image_tag("banner_#{1 + rand(3)}.jpg", :align=>"right", :style=>'max-width:400px', :class =>"hidden-phone") %>
    Welcome to Alpha Gamma Omega's home on the web! We are a group of brothers forming a Christ and service focused club at Oklahoma Christian University. If you are unfamiliar with Alpha, feel free to explore the site and find out more about us.</p>
    <p>If you are thinking of rushing Alpha, be sure and make a stop at our <%= link_to "rush page", rush_path %> to see our upcoming rush activities. If you are an alum, be sure and check out our <%= link_to "alumni page", "#" %>. Be sure and let us know if you have any questions or comments.</p>
  </div>
  