<% provide :title, 'Create new office' %>
<h1>Create New Office</h1>

<div class="row">
  <div class="span6 offset3">
      <%= render 'form' %>
      <%= link_to 'Back', offices_path, class:"btn" %>
  </div>
</div>