<% provide(:title, @user.name)%>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <h2>User History</h2>
        <tr>
          <th>Transaction Type</th>
          <th>Amount</th>
          <th>Date</th>
          <th>For</th>
          <th>Officer</th>
          <th>Notes</th>
        </tr>
        <%= render @payments %>
      </table>
    </div>
</div>
