<tr>
  <td><%= link_to "Purchase", edit_purchase_path(purchase) %></td>
  <td><%= number_to_currency(purchase.purchase_amount, :currency => "$") %></td>
  <td><%= purchase.created_at %></td>
  <td></td>
  <td><%= purchase.office.title %></td>
  <td></td>
</tr>