<div class="media">
  <a class="pull-left" href="<%=user_path(current_user) %>">
    <img class="media-object" src="<%= gravatar_for current_user, size:52 %>">
  </a>
  <h1 class="media-heading">
    <%= current_user.name %>
  </h1>
  <span>
    <%= link_to "view my profile", current_user %>
  </span>
</div>
