<h1>All Transfers</h1>

<table class="table table-bordered">
  <tr>
    <th>Member</th>
    <th>Account</th>
    <th>Value</th>
    <th>Reconciled</th>
    <th></th>
    <th></th>
  </tr>

<%= render @transfers %>
</table>

<br />

<%= link_to 'New Transfer', new_transfer_path, :class => "btn btn-primary" %>
