<footer class="footer">
  <p class="muted" style="text-align:center">"Behold, how good and pleasant it is when brothers dwell together in unity!"<a href="http://www.biblegateway.com/passage/?search=Psalm%20133:1&version=RSV">Psalm 133:1 (RSV)</a> </p>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Constitution", constitution_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <!--<li><%= link_to "Knews", "#" %></li> -->
    </ul>
  </nav>
</footer>