<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
  <% render @account.transfers %>
  <% render @account.reconciliations %>
  <% render @account.xfers_in %>
  <% render @account.xfers_out %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
